#outerDiv {
      text-align:center;
      width: 320px;
      height:280px;
      padding: 15px;
      border: 5px solid gray;
      margin: 0;

      position: absolute;
      margin-left: 500px;
     /*width: 100px;
     height: 100px;*/
     background-color: #ccc;
     border-radius: 3px;
}
#parent{
  display: flex;
}
#chartContainer{
  margin-top: 360px;
  margin-left: 360px;
}
input,select{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;

}

#currencyCount{
  width: 80px;
  text-align: right;
  border-radius: 5px;
}
